.codeex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // margin-left: 166.766px;
    border-left-width: 172.188px;
    border-left-style: solid;
    border-image: linear-gradient(#0c44cd, black) 1;
    align-items: center;
    text-align: center;
    background-image: url(../img/pexels-cottonbro-9669096.jpg);
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: center;
    background-size: cover;
      h1 {
        margin: 50px 15px;
        // margin-top: 50px;
        padding: 5px 15px;
        // margin-left: 15px;
        // margin-right: 15px;
        border-top: 5px solid rgba(252,94,221, 40%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        filter: drop-shadow(2px 4px 6px silver);
        background-color: rgba(255, 255, 255, 70%); /* Just adjust the color or opacity to make the text pop! */
        box-shadow: inset 0 0 0 50px rgb(255 255 255 / 8%);
      }
      .wrap-it {
        padding: 5px 15px;
        margin: 30px 15px;
        border-bottom: 5px solid #be7eb3;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        filter: drop-shadow(2px 4px 6px silver);
        background-color: rgba(255, 255, 255, 70%); /* Just adjust the color or opacity to make the text pop! */
        box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
      }
  }
.examples {
  img {
    max-height: 100%;
    max-width: 100%;
    padding: 0 15px;
    filter: drop-shadow(2px 4px 6px silver);
  }
  margin-bottom: 20px;
}

  @media (max-width: 750px) {
    .codeex {
        border-left: none;
    }
  }