#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  #menu__toggle {
    display: none;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 4;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: silver; // why is this not displaying correctly on github pages?
    transition-duration: .25s;
    z-index: 4;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(255, 255, 255, 90%);
    z-index: 3;
  
    
    
    // background-image: linear-gradient(#c378ba, #022383);
    border-right: 3px solid grey;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
     .socmedia {
        justify-content: center;
     }
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    padding-top: 15px;
  }
  .menu__item:hover {
    filter: drop-shadow(2px 4px 6px black);
    // background-color: rgba(195 120 186 / 70%);
    background-color: rgba(255, 255, 255, 60%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
    border-radius: 2px;
    // background: #ddd;
    color: black;
  }
  

  @media (min-width: 750px) {
    .hamburger-menu {
        display: none;
    }
  }
  .hamburger-menu {
    height: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
        li {
            padding-top: 5px;
            text-align: center;
            
        }
}
