#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    // position: fixed;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // height: 100%;
    z-index: -1;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: black;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-10%, -10%);
    z-index: 1;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 40%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
    border-radius: 2px;
    padding: 10px 20px;
    // margin-left: 178.766px;
}
.fa-angles-down {
  color: black;
  text-align: center;
  position: absolute;
  // bottom: 1%;
  // left: 52.25%;
  //   transform: translate(-10%, -10%);
  top: 45%;
  left: 50%;
  transform: translate(58%, 570%);
  z-index: 1;
  filter: drop-shadow(2px 4px 6px black);
  background-color: rgb(152 151 151 / 40%); /* Just adjust the color or opacity to make the text pop! */
  box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 50px;
}
  
//   h1 {
//     font-size: 6rem;
//     // margin-top: 30vh;
//   }
  
  @media (max-width: 750px) {
    #background-video {
      display: none;
    }
    .nav {
      display: none;
    }
    header {
      background-image: url(../img/Ink.mp4_000000166.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
    }
    h1 {
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .fa-angles-down {
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .logo {
    border-radius: 50%;
  }