* {
    box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  background-color: #e6e6eb;
  scroll-snap-type: y mandatory;
  }
  @media (max-width: 1825px) {
    html {
        scroll-snap-type: none;
    }
}