// .marg {
//     display: flex;
//     flex-direction: row;
//     margin-left: 163.766px;
//     padding-left: 15px;
// }
.pwrap {
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  min-height: 100vh;
  // margin-left: 166.766px;
  border-left-width: 166.766px;
  border-left-style: solid;
  border-image: linear-gradient(#0c44cd, black) 1;
  
  // border-left: 166.766px solid black;
  i {
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgb(152 151 151 / 40%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 50px;
    color: black;
    z-index: 3;
  }
}

.projects, .icncenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    h2 {
        padding: 5px 15px;
       border-top: 5px solid #be7eb3;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        filter: drop-shadow(2px 4px 6px black);
        background-color: rgba(255, 255, 255, 60%); /* Just adjust the color or opacity to make the text pop! */
        box-shadow: inset 0 0 0 50px rgb(255 255 255 / 8%);
    }
}
.gal-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 40px;
    // margin-left: 166.766px;
    padding: 0 15px;
    justify-content: center;
  
}

.box {
    border: 1px solid #ccc;
    padding: 0 5px;
    margin: 10px;
    padding: 5px 15px;
    border-bottom: 5px solid #be7eb3;
 //   border-left: 1px solid orange;
 //   border-right: 1px solid orange;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(255, 255, 255, 60%); /* Just adjust the color or opacity to make the text pop! */
    box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
    margin-bottom: 30px;
  }
  
  .box:hover {
    border: 1px solid #777;
  }
  
  .box img {
    width: 350px;
    height: 400px;
    // width: auto;
    // height: 400px;
    object-fit: contain;
    // object-position: left;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  
 .scrollid {
  display: flex;
  flex-direction: column;
  justify-items: center;
 }
//   .responsive {
//     padding: 0 15px;
//   }
  
//   @media only screen and (max-width: 750px) {
//     .responsive {
//       width: 49.99999%;
//       margin: 6px 0;
//     }
//   }
  
//   @media only screen and (max-width: 500px) {
//     .responsive {
//       width: 100%;
//     }
//   }
  @media (max-width: 750px) {
    .gal-row {
        margin: 10px;
    }
}
  
@media (max-width: 750px) {
    .projects {
        margin: 0;
        margin-top: 30px;
    }
}
@media (max-width: 750px) {
  .icncenter {
      margin-left: 0;
  }
}
@media (max-width: 750px) {
  .pwrap {
      border: none;
  }
}

//   div.gallery {
//     margin: 5px;
//     border: 1px solid #ccc;
//     float: left;
//     width: 180px;
//   }
  
//   div.gallery:hover {
//     border: 1px solid #777;
//   }
  
//   div.gallery img {
//     width: 100%;
//     height: auto;
//   }
  
//   div.desc {
//     padding: 15px;
//     text-align: center;
//   }